<div class="container">
	<h1 class="explanations-heading">Explanations</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<p class="text-weight-normal">Showing {{ data.explanations.results.length}} Explanation(s).</p>
			<div class="explanations row">
				{{# each data.explanations.results}}
					<div class="col-md-4">
						<a href="/explanations/{{slug}}" class="explanation-subject">
							{{{name}}}
						</a>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
	{{>pagination}}
</div>
