<div class="container">
	<h1>Explanations</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-9">
			<p class="text-weight-normal">Showing {{ data.explanations.results.length}} Explanations.</p>
			<div class="explanations">
				{{# each data.explanations.results}}
				<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="act">
					<h4><a href="/explanations/{{slug}}">{{{name}}}</a></h4>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
	{{>pagination}}
</div>
