{{!< default}}
<div class="container">
	<div class="hero"></div>
	<div class="hero-headline">Nyaaya is making laws easy to access and easier to make sense of.</div>
	<div class="row">
			<div class="col-sm-12 col-md-4">
				<h1>Laws</h1>
				<p>We at Nyaaya, believe Laws should be made freely available to anyone who wants to access it. We are working to collect all laws of India and the importance of making it available in languages spoken by the people to whom it is applicable.</p>

				<a class="btn btn-primary btn-lg">View our repository of Laws</a>
			</div>
			<div class="col-sm-12 col-md-4">
				<h1>Explanations</h1>
				<p>Nyaaya recognizes that legal text can be hard to comprehend which adds to the inaccessibility of law. We're attempting to explain the law as it is, in simple, easy to understand terms, with applicability in mind.</p>

				<a class="btn btn-primary btn-lg">View our explanations</a>
			</div>
			<div class="col-sm-12 col-md-4">
				<h1>Talk to an Expert</h1>
				<p>Sometimes your scenario might not be as straight forward as described in the law or in our explanations. We understand that you might have some questions or need some clarification. Our legal experts are here to help.</p>

				<a class="btn btn-primary btn-lg">Talk to an expert</a>
			</div>
	</div>
	<div class="popular-content">
		<h1>Popular Explanations</h1>
		<div class="row">
			<div class="col-sm-12 col-md-3">
				<a class="explanation-tile">Sexual Harassment at the workplace</a>
			</div>
			<div class="col-sm-12 col-md-3">
				<a class="explanation-tile">Domestic Violence</a>
			</div>
			<div class="col-sm-12 col-md-3">
				<a class="explanation-tile">Narcotics and Drugs</a>
			</div>
			<div class="col-sm-12 col-md-3">
				<a class="explanation-tile">Aaadhar Card</a>
			</div>
		</div>
	</div>
</div>
